In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
independent=sc.fit_transform(independent)
independent=sc.transform(independent)

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid = {'kernel':['rbf','poly','sigmoid','linear'],'C':[1,10,50,100,200]}
grid = GridSearchCV(SVR(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=SVR(), n_jobs=-1,
             param_grid={'C': [1, 10, 50, 100, 200],
                         'kernel': ['rbf', 'poly', 'sigmoid', 'linear']},
             verbose=3)

In [14]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'C': 200, 'kernel': 'linear'}: 0.6550026093884975

In [15]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.832952,0.781291,0.077469,0.010348,1,rbf,"{'C': 1, 'kernel': 'rbf'}",-0.098791,-0.098582,-0.066868,-0.090853,-0.090622,-0.089143,0.011691,19
1,0.191429,0.038487,0.052642,0.034315,1,poly,"{'C': 1, 'kernel': 'poly'}",0.033079,0.022393,0.051875,0.038526,0.038604,0.036895,0.009538,17
2,0.363496,0.072598,0.088403,0.026322,1,sigmoid,"{'C': 1, 'kernel': 'sigmoid'}",-0.110820,-0.109141,-0.077248,-0.101680,-0.102924,-0.100362,0.012075,20
3,0.228730,0.048120,0.040226,0.015746,1,linear,"{'C': 1, 'kernel': 'linear'}",0.276395,0.257635,0.278820,0.275516,0.281385,0.273950,0.008410,13
4,0.237773,0.040465,0.096705,0.019767,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.037050,0.035702,0.062391,0.045345,0.046377,0.045373,0.009523,16
5,0.185749,0.028821,0.031131,0.012127,10,poly,"{'C': 10, 'kernel': 'poly'}",0.438232,0.377690,0.411459,0.424124,0.434110,0.417123,0.021773,10
6,0.263457,0.020299,0.050611,0.007465,10,sigmoid,"{'C': 10, 'kernel': 'sigmoid'}",-0.072254,-0.070178,-0.039718,-0.064935,-0.064801,-0.062377,0.011699,18
7,0.165353,0.021044,0.035527,0.014688,10,linear,"{'C': 10, 'kernel': 'linear'}",0.571353,0.513732,0.556396,0.561609,0.578603,0.556339,0.022646,7
8,0.262968,0.059495,0.086264,0.016112,50,rbf,"{'C': 50, 'kernel': 'rbf'}",0.360031,0.325603,0.347062,0.343309,0.356304,0.346462,0.012053,12
9,0.184905,0.030359,0.035254,0.005937,50,poly,"{'C': 50, 'kernel': 'poly'}",0.583615,0.528807,0.567134,0.564637,0.597335,0.568306,0.023031,6
10,0.282633,0.012228,0.060245,0.011981,50,sigmoid,"{'C': 50, 'kernel': 'sigmoid'}",0.084539,0.091325,0.114644,0.092446,0.094622,0.095515,0.010141,15
11,0.172385,0.012082,0.018751,0.006250,50,linear,"{'C': 50, 'kernel': 'linear'}",0.625018,0.576074,0.660098,0.607664,0.656538,0.625078,0.031371,3
12,0.263871,0.118233,0.112524,0.053914,100,rbf,"{'C': 100, 'kernel': 'rbf'}",0.460357,0.408704,0.441471,0.440183,0.457207,0.441584,0.018328,9
13,0.461607,0.185034,0.041235,0.022221,100,poly,"{'C': 100, 'kernel': 'poly'}",0.615604,0.581703,0.606316,0.592492,0.653101,0.609843,0.024535,5
14,0.459729,0.359562,0.109611,0.063925,100,sigmoid,"{'C': 100, 'kernel': 'sigmoid'}",0.238719,0.237983,0.252741,0.237605,0.244595,0.242328,0.005793,14
15,0.759557,0.129210,0.069439,0.035515,100,linear,"{'C': 100, 'kernel': 'linear'}",0.629971,0.584990,0.673366,0.609695,0.660579,0.631720,0.032370,2
16,0.408790,0.204695,0.147486,0.051472,200,rbf,"{'C': 200, 'kernel': 'rbf'}",0.549971,0.483577,0.517260,0.522369,0.545352,0.523706,0.023715,8
17,0.358463,0.081977,0.055208,0.014214,200,poly,"{'C': 200, 'kernel': 'poly'}",0.624033,0.593742,0.619889,0.596216,0.671486,0.621073,0.027988,4
18,0.576798,0.093699,0.105032,0.033926,200,sigmoid,"{'C': 200, 'kernel': 'sigmoid'}",0.380929,0.346956,0.371775,0.363689,0.379383,0.368547,0.012417,11
19,0.300756,0.066719,0.040628,0.011718,200,linear,"{'C': 200, 'kernel': 'linear'}",0.643367,0.601241,0.691689,0.624316,0.674514,0.647025,0.032789,1

In [16]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
Children_input=float(input("Children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:20
BMI:26
Children:1
sex male 0 or 1:1
smoker yes 0 or 1:0

In [17]:
future_prediction=grid.predict([[age_input,bmi_input,Children_input,sex_male_input,smoker_yes_input]])
print("future_prediction={}".format(future_prediction))

future_prediction=[449441.86096008]